.logo{
    margin-top: 30px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.v-main__wrap{ 
    display: flex; 
    flex-direction: column; 
}

.button-div {
    width: 100%;
}
.v-toolbar__content{
    width: 100%;
}
footer{
    margin-top:auto; 
  }

.article{
    margin: 5% 15% 5% 15%; 
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.v-card-previsao{
    margin: 0% 0% 0% 5%;
    width: 297px;
}

.v-card{
    overflow-wrap: normal;
}

.abc{
    margin-right: 0;
}

@media screen and (max-width: 1016px) and (min-width: 769px){
    .v-card{
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {
    .article{
        margin: 12% 0 12% 0%;
        flex-direction: column;
        align-items: center;
    }
    .v-card-previsao{
        margin: 12px 0 0 0;
    }
}