.logo{
    margin-top: 30px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.v-main__wrap{ 
    display: flex; 
    flex-direction: column; 
}

footer{
    margin-top:auto; 
  }

@media screen and (max-width: 768px) {
    .main-home{
        flex-direction: column;
    }
}